body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F0FFF0;
  color: black;
}

.navbar-laravel {
  background-color: #337ab7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #333;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25)
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.map_wrapper {
  position: relative;
  width: 80%;
  padding-top:56.25%;
  border: 1px solid black;
  text-align: center;
  margin: auto;
    }
.map_wrapper .target {
  position: absolute; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
   }
   
.row {
  margin: 10px auto;
  text-align: center;
}

.image1 img {
  width: 250px;
}

#map {
	position: relative;
	width: 640px;
	height: 300px;
}

#express {
	position: absolute;
	z-index:30;
	left: 0;
	width: 40px;
}

#osaka {
	position: relative;
	float: left;
	z-index:20;
	left: 0;
  display: flex;
  flex-direction: column;
	text-align: center;
}

#shinosaka {
	position: relative;
	float: left;
	z-index:20;
	left: 0;
	display: flex;
  flex-direction: column;
	text-align: center;
}

#takatsuki {
	position: relative;
	float: left;
	z-index:20;
	left: 0;
	display: flex;
  flex-direction: column;
	text-align: center;
}

#katsuragawa {
	position: relative;
	float: left;
	z-index:20;
	left: 0;
	display: flex;
  flex-direction: column;
	text-align: center;
}

#kyoto {
	position: relative;
	float: left;
	z-index:20;
	left: 0;
	display: flex;
  flex-direction: column;
	text-align: center;
}

#info {
	position: relative;
	text-align: center;
	padding-top: 10px;
}

