header {
  margin-top: 20px;
}

.container {
  width: 1000px;
  margin: 0 auto 40px auto;
}

.infobox {
   height: 1300px;
   overflow: auto;
   border: green 1px solid;
   background-color: #FFFFDD;
}
.header-title-area {
  margin-top: 20px;
  margin-bottom: 10px;
}

.logo {
  font-size: 32px;
}
.text-sub {
  color: #777;
}

.header-navigation {
  width: 100%;
  background-color: #FFFFDD;
  padding: 20px 0;
}

.header-navigation:after {
  clear: both;
  display: block;
  content: " ";
}

.header-navigation li {
  float: left;
  padding: 0 30px;
  text-align: center;
  list-style-type: none;
}

.header-navigation li a {
  color: #333;
  text-decoration: none;
}

.header-navigation li a:hover {
	background: #FFFF00;
}



.slider{
    margin: 20px auto;
    width: 80%;
}
.slider img{
    height: auto;
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: #000;
}

.image1 {
    img {
    width: 250px;
  }
}